<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hall page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.css">
    <script src="https://kit.fontawesome.com/696df01810.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/check.css">
</head>
<body>
    
    <nav>
        <h1>ALEX EKWUEME FEDERAL UNIVERSITY</h1>
        <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/">Sign Up</a></li>
            <li><a href="/login" class="btn">Admin</a></li>
        </ul>
    </nav>
    

    <div class="container">
        <div class="form-box">
            <h1 id="title">Check Hall</h1>
            <form action="/check/hall" method="POST">
                <div class="input-group">
                    <!-- Role selection dropdown -->
                   
                <div class="input-group">
                    <div class="input-field" id="namefield">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="courseCode" placeholder=" Enter course Code" required>
                    </div>
                  
                    <button type="submit" class="b">submit</button>
                    
            </form>
        </div>
        
        </div>
        

    
 
<footer>All right reserved @2024</footer>
</body>
</html>